*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body{
    background-image: url("background_img.png");
    background-size: cover;

}

h1{
    background-color: #081b31;
    color: #fff;
    height:5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: #fff;
    cursor: pointer;
}

img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    margin: 5rem;
}

.score-board{
   /* font-weight: 700;
    font-family: arial;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
}

.msg-container{
    margin-top: 5rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}

#msg{
    background-color: #00c6ff;
    color: #fff;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}
.score-board{
    background-color: #00c6ff;
    border-radius: 5rem;
   /* opacity : 0.5;*/
}